!!!
%html
  %head
    %title Frypan 
    / %link{:rel => "icon", :href => "/images/favicon.ico", :type => "image/x-icon"}

    / %link{:rel=>'stylesheet', :href=>'/stylesheets/reset.css', :type => "text/css"} 
    /     %link{:rel=>'stylesheet', :href=>'/stylesheets/main.css', :type => "text/css"} 
    
  %body 
    #wrapper
      #banner
        %h1 
          %a{:href => "/"} Frypan
        %p Makin&rsquo; your bacn hot!
        
      #page
        = yield
    
  / reinvigorate tracking code
  %script{ :type => "text/javascript",  :src => "http://include.reinvigorate.net/re_.js"}
  %script{ :type => "text/javascript"} re_("29437-2xca4yq524");
